@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem; 
    transition: font-size 1s ease;   
}

header{
    padding: 10px 0px 30px 10px;
    border-bottom: 20px solid;
    border-image: linear-gradient(to right, red, orange, yellow) 1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    display: flex;
    flex-flow: row nowrap;
}

header h1{
    line-height: 2rem;
    font-size: 1.4rem;
    text-align: center;
    text-indent: 1rem;
    padding: 10px;
}

header p{
    text-align: center;
}

nav{
    display: flex;
    flex-flow: column nowrap;
    align-self: flex-start;
    padding: 10px;
}


nav > span{
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    display: block;
    width: 150px;
}

nav > span:hover{
    color: rgb(70, 0, 0);
    transform: translateY(-2px) scale(1.1);
    transition: transform 0.7s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.171);
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
    padding: 10px;
    width: 150px;
    border-radius: 3px;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
    text-decoration: underline;
}

h1, h2{
    text-align:left;
    text-indent: 1.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.466)
    
}

p{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    text-shadow: 2px 3px 3px rgba(255, 255, 255, 0.39);
}

section.flex-content{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.24);
    background-color: rgba(211, 211, 211, 0.644);
}


article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top:1px solid rgba(0, 0, 0, 0.226) ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11);
    max-width: 900px;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.425) ;
    transition: max-width 0.7s ease;
}


article.media-text{
    display: flex;
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.034);
    max-width: 900px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.425);
    transition: max-width 0.7s ease;
}


article > div.text{
    flex: 1 1 300px;
    padding: 10px;
}

h2#cristo{

    margin-top: 5px;
    height: 30px;
    font-size: 2.2rem;
}




article > div.media{
    flex:  1 1 300px;
}



div.media > img{
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 210px;
    padding: 10px 10px 30px 10px;
    aspect-ratio: 16 / 9;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    
}

footer p#rodape{
    margin: 0;
    padding: 10px;
    text-align: center;
}




@media screen and (min-width:650px) {
    h1{
        font-size: 2rem;
    }
    
    p#primeiro{
        font-size: 1.3rem;
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
    }

    p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:550px) {
    h1{
        font-size: 1.4rem;
    
    }

    h2#cristo{
        text-align: center;
    }

    p#primeiro{
        font-size: 0.9rem;
    
    }
}    